.container {
  width: 400px;
  margin: 0 25px 25px 0;
  &:first-child {
    padding-left: 25px;
  }

  mat-expansion-panel {
    margin-top: 2rem;

    mat-panel-title {
      font-weight: bold;
      color: white;
    }

    mat-card {
      border-top: 10px solid darkgreen;
    }
  }
}

.red {
  background-color: orangered;
}

.blue {
  background-color: royalblue;
}

.green {
  background-color: rgb(0, 160, 0);
}