$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(240, 240, 240);

$primary: rgb(55, 56, 84);
$secondary: rgb(73, 50, 103);
$middle: rgb(158, 55, 159);
$primary-light: rgb(232, 106, 240);
$light: rgb(123, 179, 255);

$green: rgb(0, 201, 0);