@import '../../../styles/colors.scss';

.dash-item {
  height: 50px;
  background-color: rgb(231, 231, 231);
  color: black;
  border-left: 10px solid $primary;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: $gray;
    color: $primary;
  }

  .todo {
    background-color: $light;
    color: $white;
  }

  span {
    width: 25%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-right: 2px solid $gray;
    &:last-child {
      border: none;
    }
  }

  .name {
    position: relative;
    button {
      visibility: hidden;
      // visibility: visible;
      position: absolute;
      right: 0;
    }
    input {
      border: none;
      height: 100%;
      width: 100%;
      padding-right: 40px;
      padding-left: 20px;
      background: transparent;
      &:focus + button {
        visibility: visible;
      }
    }
  }

  mat-icon {
    cursor: pointer;
  }
}

.person {
  width: 10% !important;
}

.doing {
  background-color: $green;
  color: $white;
  &:hover {
    background-color: $green;
    filter: brightness(1.3);
  }
}

.stuck {
  background-color: $middle;
  color: $white;
  &:hover {
    background-color: $middle;
    filter: brightness(1.3);
  }
}

.to-do {
  background-color: $light;
  color: $white;
  &:hover {
    background-color: $light;
    filter: brightness(1.3);
  }
}

.pendent {
  background-color: $red;
  color: $white;
  &:hover {
    background-color: $red;
    filter: brightness(1.3);
  }
}

.link {
  cursor: pointer;
}