@import '../../../styles/colors.scss';

:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: $gray;
  color: black;

  .item-title {
    display: flex;
    justify-content: space-between;
  }
}