@import '../../../styles/colors.scss';

.menu-opened {
  width: 326px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.toggle-button {
  background-color: #194084;
  position: absolute;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: calc(100vw - 102px);
}

.close-toggle-button {
  left: 85px;
  transition: 0.3s;
}

.open-toggle-button {
  left: 326px;
  transition: 0.3s;
}

.menu-closed {
  width: 85px;
}

.container {
  position: fixed;
  top:0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;

  .navigation {
    position: relative;
    height: 100vh;
    background-color: #194084;
    overflow: hidden;
    transition: 0.3s;
    z-index: 999;

    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        left: 25px;
        list-style: none;
        width: 100%;

        &:hover {
          // background-color: $gray;
          // cursor: pointer;
          // transition: 0.3s;
          // .icon {
          //   color: #194084;
          // }
          // a {
          //   .title {
          //     color: #194084;
          //   }
          // }
        }
      }

      a {
        position: relative;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: $white;

        .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 50px;
          line-height: 20px;
          text-align: center;
          font-size: 15px;
        }

        .title {
          position: relative;
          display: block;
          height: 50px;
          line-height: 20px;
          white-space: nowrap;
          font-size: 15px;
        }
      }
    }
  }
}

.active {
  // background-color: $gray;
  // &::before {
  //   position: relative;
  //   width: 30px;
  //   height: 30px;
  //   top: 20px;
  //   left: 20px;
  //   background-color: blue;
  // }
  // .icon {
  //   color: #194084;
  // }
  // .title {
  //   color: #194084;
  // }
}