<div class="content-wrapper">
  <div class="title">
    <h1>Meus Projetos</h1><mat-icon (click)="createNewProject()">add</mat-icon>
  </div>
  <app-expansion *ngFor="let project of projects"
    [name]="project.name"
    cdkDropList
    [cdkDropListData]="project.list"
    (cdkDropListDropped)="drop(project, $event)"
  >
    <div class="dash-header">
      <span class="name">Name</span>
      <span class="person">person</span>
      <span>status</span>
      <span>comments</span>
    </div>
    <div class="dash-item" *ngFor="let item of project.list" cdkDrag>
      <span class="name">
        <input type="text" [(ngModel)]="item.name"><!--(focusout)="saveName(project)-->
        <button mat-button matSuffix mat-icon-button (click)="saveName(project)">
          <mat-icon>check</mat-icon>
        </button>
      </span>
      <span class="person"><app-avatar [img]="img"></app-avatar></span>
      <span class="status">{{ item.status }}</span>
      <span>
        <button mat-button matSuffix mat-icon-button>
          <mat-icon class="icon" matBadge="4">message</mat-icon>
        </button>
      </span>
    </div>
    <div class="dash-item-new">
      <input type="text" [(ngModel)]="newItem" placeholder="+ Nova tarefa" (keyup.enter)="addItem(project)">
    </div>
  </app-expansion>
</div>