<div class="content-wrapper">
  <div class="dash-menu">
    <h3>Title</h3>
    <ul>
      <li>
        <a routerLink="/kanban" routerLinkActive="active">
          <mat-icon class="icon">home</mat-icon>
          <span class="title">Projetos</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon class="icon">person</mat-icon>
          <span class="title">Membros</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon class="icon">message</mat-icon>
          <span class="title">Mensagem</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon class="icon">help</mat-icon>
          <span class="title">reportar</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="dash-content">
    <div class="title">
      <h1>Meus Projetos</h1>
      <mat-icon (click)="createNewProject()">add</mat-icon>
    </div>
    <app-expansion *ngFor="let project of projects" [name]="project.name" cdkDropList [cdkDropListData]="project.list"
      (cdkDropListDropped)="drop(project, $event)">
      <div class="dash-header">
        <span class="name">Name</span>
        <span class="person">person</span>
        <span>status</span>
        <span>comments</span>
      </div>
      <app-project-item cdkDrag *ngFor="let item of project.list" [item]="item"></app-project-item>
      <div class="dash-item-new">
        <input type="text" [(ngModel)]="project.newItem" placeholder="+ Nova tarefa" (keyup.enter)="addItem(project)">
      </div>
    </app-expansion>
  </div>
</div>